<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBawTg7nTYFazs8f_mxWhsYRK4-SS86_sA</string>
	<key>GCM_SENDER_ID</key>
	<string>1034664091178</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatx.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>chat-7771d</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-7771d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034664091178:ios:e18f5114399a68b71eed53</string>
</dict>
</plist>